{% load static %}

{% include 'header.html' %}
{% include 'navbar.html' %}


    <div class="page-header header-filter" data-parallax="active" 
    style="background-image: url('{% static "assets/img/bg8.jpg" %}');">
        <div class="container">
            <div class="row">
				<div class="col-md-6">
                    {% if error %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
					<h1 class="title">Equal Experts Iterest Calculator.</h1>
                    <h4>Equal Expert Interest calculator. Enter how much you want to deposit to find out what your yearly interest amounds to.</h4>
                    <p>Interest APR is calculated at:</p>
                    <p>1% up to £1000, 2% up to £5000 and 3% for above.</p>
                    <p>Equal Experts do not allow you to deposit more than £{{max_value}}.</p>
                    <br />
                    <form action="/ee-calculated/" method="post">
                        {% csrf_token %}
                        Amount: <input type="text"
                                     name="ee_calculate"
                                     style="background-color:white;
                                            color: #101010;" >
                        <input class="btn btn-dark" type="submit" value="Calculate">
                    <br />
                    </form>
 				</div>
            </div>
        </div>
    </div>



   {% include 'footer.html' %}
