{% load static %}

{% include 'header.html' %}
{% include 'navbar.html' %}

    <div class="page-header header-filter" data-parallax="active" 
    style="background-image: url('{% static "assets/img/bg8.jpg" %}');">
        <div class="container">
            <div class="row">
				<div class="col-md-6">
					<h1 class="title">Equal Experts Calculated Interest</h1>
                    <h4>Your calculated interest is based on the first year. Interest is calculated yearly on the date of entry</h4>
                    <br />
                    <h4>Calculated Amounts</h4>
                    <p>Initial Deposit : £{{deposit}}</p>
                    <p>Interest : £{{interest}} and a calculated rate of : {{ interest_rate }}%</p>
                    <p>Total end of year : £{{total}}</p>


 				</div>
            </div>
        </div>
    </div>

    <!-- Index page landing here -->

   {% include 'footer.html' %}
