{% extends 'background-page.html' %}
{% load static %}
{% block content %}

<div class=""section text-center">
    <h2 class="title">Here is the team</h2>
    <div class="team">
        <div class="row">
                <div class="card card-profile card-plain">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="card-image">
                            <a href="#Nick">

                                <img class="img" src="{% static 'assets/img/faces/nicholas.jpg' %}" class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="content text-justify about-us-card">
                            <h4 class="card-title">Nicholas Herriot</h4>
                            <h6 class="category text-muted">Founder</h6>

                            <p class="card-description">
                                I'm a Python convert. I've been using this language for many years now. Many of my projects are now Python 3.0 but some are still
                                running 2.7 for a number of reasons.
                                I'm consistently  being impressed by how Python is conquering the web arena and now making inroads to 'Big Data' applications.
                                My favourite framework has to be Django. And my favourite python library has to be the requests library.
                            </p>
                            <p class="card-description">
                                On the database front, I think that whole arena is expanding with very specific solutions for very specific problems. Python is
                                not that strong on databases written in the language, but almost everyon these days provide a pythonic interface. In the near
                                term I'd like to look at Zodb a python graph database!
                            </p>
                            <p class="card-description">
                                Hava a look at our projects to get a feel for what we can deliver. :-)
                            </p>
                            <div class="footer">
                                <a href="https://www.linkedin.com/in/nicholasherriot" class="btn btn-just-icon btn-simple btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://twitter.com/nicholasherriot" class="btn btn-just-icon btn-simple btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://plus.google.com/u/0/+NicholasHerriot" class="btn btn-just-icon btn-simple btn-google" target="_blank"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="card card-profile card-plain">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="card-image">
                            <a href="#Nick">
                                <img class="img" src="{% static 'assets/img/faces/dilshad.jpg' %}" class="img-thumbnail">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="content text-justify about-us-card">
                            <h4 class="card-title">Dilshad Abdulla</h4>
                            <h6 class="category text-muted">Software Developer</h6>

                            <p class="card-description">
                                I'm relatively new to Python, a mature student who has started working in Software later in life. For me Python is the perfect teaching
                                tool. Easy to learn the basics, but you never stop learning and there is always more to learn! I particularly like the way it is styled
                                with an approach which tries to make it more 'human readable'.
                            </p>
                            <p class="card-description">
                                My most favourite python framework is Django, then Flask. Most of my experience is with the Django framework. From the Python libraries
                                I've used I really like 'beautiful soup', it's great for screen scrapping and collecting data from web sites. At the moment I'm learning
                                Anaconda, which is a Python + R IDE framework. Hard to explain - easy to try!
                            </p>
                            <p class="card-description">
                                I hope you enjoy reading more about what we do at Noisy Atom
                            </p>
                            <div class="footer">
                                <a href="https://www.linkedin.com/in/dilshadabdulla" class="btn btn-just-icon btn-simple btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://twitter.com/DilshadAbdulla" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter" target="_blank"></i></a>
                                <a href="http://stackoverflow.com/users/2700672/dilmac" class="btn btn-just-icon btn-simple btn-dribbble"  target="_blank"><i class="fa fa-stack-overflow"></i></a>
                                <a href="https://plus.google.com/u/0/106142053875403929305" class="btn btn-just-icon btn-simple btn-google" target="_blank"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>

{% endblock content %}
