{% extends 'background-page.html' %}

{% load staticfiles %}

{% load bootstrap4 %}

{% block imagequery %}
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock imagequery %}

{% block content %}


<div class="col-12">
	<div class="col-md-4">
		<br><br>
		<h5 class="description">Some of the highlights from this project that were built into this platfomr</h5>
		<ol>
			<li>Custom CMS for pages on the site</li>
			<li>Dynamic translations allowing updates in real time</li>
			<li>Automated deployment via ansible</li>
			<li>Feedback app</li>
			<li>Integrated CC with legacy IBM DB2</li>
			<li>Elastic Search for text based searches</li>
			<li>Dynamic menus and editors for Chemical product pages</li>
		</ol>
	</div>

	<div class="col-md-8">
		<h2 class="text-left title">Alfa Aesar Ltd</h2>
		<img src="{% static 'images/main_800px.png' %}" width="800" height="300" class="img-responsive">
	</div>
	
</div>

<div class="container gallery">
    <div class="panel panel-default">
        <h2 class="text-center title">A break down of the system</h2>
        <div class="panel-body">
            <div class="col-md-5">
                        <h4 class="card-title">Custom CMS</h4>
                <p>
                    The platform had around 12 web applications created. This allowed CMS content to be added and changed.
                    A range of management pages were built for tasks such as checking on processed orders, order history,
                    management metrics and so on.
                </p>
                <p>
                    The system has 4 different layout pages, allowing staff to login and access dashboards. Look at feedback
                    and so on.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <a class="fancybox" rel="group" href="{% static 'images/cms_trimed_2.png' %}">
                    <img src="{% static 'images/cms_trimed_2.png' %}" class="img-responsive">
                    <span class="badge">Dynamic page</span>
                </a>
            </div>
            
        </div>
    </div>

    <!-- This section only includes notes for the snippet. Nothing more. You may ignore it if you please. -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-5">
                <h4 class="card-title">Translations</h4>
                <p>
                    The website is multilingual and caters for Chemists around the globe. Ten languages and catered for and
                    and language files are updated via an admin page. This is different to many other web platforms where
                    static strings have to be updated programmatically. This system allows for dynamic updating of all configured
                    strings and CMS content.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <a class="fancybox" rel="group" href="{% static 'images/cms_trimed_3.png' %}">
                    <img src="{% static 'images/cms_trimed_3.png' %}" class="img-responsive">
                    <span class="badge">Translation</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-5">
                <h4 class="card-title">Deployment</h4>
                <p>
                   Nick You need to write the Deployment I do not remember !
                </p>
            </div>
            <div class="col-md-2">
            </div>

            <div class="col-md-5">
                <a class="fancybox" rel="group" href="{% static 'images/edit_navigation_400px.png' %}">
                    <img src="{% static 'images/edit_navigation_400px.png' %}" class="img-responsive">
                    <span class="badge">Deployment</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="info-title">Payment CC</h4></div>
        <div class="panel-body">
            <div class="col-md-7">
                <p>
                     Nick You need to write the Payment you have created and knows better than me !
                </p>
            </div>
            <div class="col-md-5">
                <a class="fancybox" rel="group" href="{% static 'images/shopping_cart_400px.png' %}">
                    <img src="{% static 'images/shopping_cart_400px.png' %}" class="img-responsive">
                    <span class="badge">Chart And Payment</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="info-title">ElasticSearch</h4></div>
        <div class="panel-body">
            <div class="col-md-7">
                <p>
                    Elasticsearch has been installed to the project which is Java and have access to the database to retrieved any data title or item number automatically it will dropdown the list as soon you enter first two character or number like in the image.
                </p> 
            </div>
            <div class="col-md-5">
                <a class="fancybox" rel="group" href="{% static 'images/search_400px.png' %}">
                    <img src="{% static 'images/search_400px.png' %}" class="img-responsive">
                    <span class="badge">Elastic Search</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="info-title">Feedback</h4></div>
        <div class="panel-body">
            <div class="col-md-7">
                <p>
                   The website ask their client to give them the feedback about their service plus any more comment, the feedback go to backend or CMS page listed the staff can imported to CSV file and make comparasen about how is look like as status. The other part of the feedback is only for the compnay not for public to read because its chemical items and the form will tell the staff where the feedback came from regarding the IP address.
                </p>
            </div>
            <div class="col-md-5">
                <a class="fancybox" rel="group" href="{% static 'images/feedback_400.png' %}">
                    <img src="{% static 'images/feedback_400.png' %}" class="img-responsive">
                    <span class="badge">Received Feedback</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading "><h4 class="info-title">Categories</h4></div>
        <div class="panel-body">
            <div class="col-md-7">
                <p>
                   Categories has many items which is very complex because each item in the category has subcategory display with multiplese sub subcategories and listed in the tables in the database. Allwoed staff adding new items from main categories or in subcategory depend of the itaem in which category class is it.
                </p>
            </div>
            <div class="col-md-5">
                <div class="card-image">
                <a class="fancybox" rel="group" href="{% static 'images/add_category_400px.png' %}">
                    <img src="{% static 'images/add_category_400px.png' %}" class="img-responsive">
                    <span class="badge">Add Category</span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}