{% extends 'background-page.html' %}

{% load staticfiles %}

{% load bootstrap4 %}

{% block imagequery %}
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock imagequery %}

{% block content %}

<div class="panel-body">
    <div class="panel-heading"><h2 class="info-title text-center">ONS Migration of Monolith to Microservices</h2></div>
	<div class="col-md-4  text-left">
		<br><br>
		<h5 class="description">Some of the highlights from this project that were built by Noisy Atom</h5>
		<ol class="text-justify">
			<li>Deployed initial python Flask components on the initial sprints for ONS Show and Tell</li>
			<li>Instigated BDD testing component for the first beta microservice using python Bamboo</li>
			<li>Forked and enhanced the ONS OAuth2 server taken from Richard Knopps OS Django OAuth2 server</li>
		</ol>
	</div>

	<div class="col-md-8">
		<img src="{% static 'images/ons_main.png' %}" width="800" height="300" class="img-responsive">
	</div>

</div>

<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading"></div>

        <div class="panel-body">            
            <div class="col-md-5 text-justify">
                <h4 class="info-title text-left">OAuth2 Using Django Webserver</h4>
                <p>
                    The system had a front end UI written in Flask. Noisy Atom and one other contractor provided the first beta version.
                    The microservice had a requirement to use OAuth2 as it's token based authentication framework.
                <p>
                <p>
                    The Flask microservice used GEVENT and GREQUESTS for asynchronous communications between other microservices.
                </p>
            </div>
            <div class="col-md-2">
            </div>

            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                    <a class="fancybox" rel="group" href="{% static 'images/cms_800px.png' %}">
                        <img src="{% static 'images/cms_trimed_2.png' %}" class="img-responsive">
                        <span class="badge">Dynamic page</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- This section only includes notes for the snippet. Nothing more. You may ignore it if you please. -->
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5 text-justify">
                <h4 class="info-title">Authentication And OAuth2</h4>
                <p>

                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a class="fancybox" rel="group" href="{% static 'images/translations_800px.png' %}">
                            <img src="{% static 'images/cms_trimed_3.png' %}" class="img-responsive">
                            <span class="badge">Translation</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5 text-justify">
                <h4 class="info-title">Deployment</h4>
                <p>
                    The platform is pacakged using python setup libraries. But more importantly, during the end of the
                    project the team moved to building the system with Ansible a deployment orchestration and automation
                    tool. This took the grundge work out of deployments onto cloud based systems. The system uses yaml
                    files to automate the deployment process. This tool now has major backing and support from Redhat.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a class="fancybox" rel="group" href="{% static 'images/deployment_800px.png' %}">
                            <img src="{% static 'images/edit_navigation_400px.png' %}" class="img-responsive">
                            <span class="badge">Deployment</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5  text-justify">
                <h4 class="info-title">Credit Card Payment</h4>
                <p>
                    Credit Card payments are difficult when the host server holds Credit Card numbers. The project
                    required PCI compliance before going live. One of the issues with this is the ability to rotate
                    encryption keys.
                </p>
                <p>
                The platform used an admin tool which allowed dynamic rotatting of these keys and even used celery
                    to automate the process allowing the updating and changing of encrypted fields to be fully automated.
                    For this the pycrypto and django-encrypted-fields library were used extensively</p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a class="fancybox" rel="group" href="{% static 'images/shopping_cart_800px.png' %}">
                            <img src="{% static 'images/shopping_cart_400px.png' %}" class="img-responsive">
                            <span class="badge">Chart And Payment</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5  text-justify">
                <h4 class="info-title">ElasticSearch and Text Based Searching</h4>
                <p class="text-justify">
                    The legacy search interface allowed SQL searches on catalog numbers, categories and so on. Our client
                    wished a more natural and dynamic search interface to allow Chemists to search on words which may be
                    part of a chemical compound. For that, the system required natural text based searching. i.e. a no
                    SQL type interface.
                </p>
                <p>
                    The system delivered allowed full text based searching on the data entries. It used a celery scirpt
                    to synchronize with changes in the IBM DB2 interface. Data from the SQL world was pushed onto
                    Elastic search allowing users to have a richer search experience when searching for compounds and
                    chemicals on the site.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a class="fancybox" rel="group" href="{% static 'images/elastic_search_800px.png' %}">
                            <img src="{% static 'images/search_400px.png' %}" class="img-responsive">
                            <span class="badge">Elastic Search</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5  text-justify">
                <h4 class="info-title">Eeedback Apps</h4>
                <p>
                    Typically modern web platforms allow an easy feedback mechanism for users to quickly and easily provide
                    one click feedback. For that a scrolling fully responsive UI component allowed a user to tab input
                    and submit feedback directly.
                </p>
                <p>
                    The administration interface allowed AlfaAesar staff to view that interface in a meaningfull way. This
                    allowed the team to iterate and build enhancements to the system which were scheduled in each sprint.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a class="fancybox" rel="group" href="{% static 'images/feedback_800px.png' %}">
                            <img src="{% static 'images/feedback_400.png' %}" class="img-responsive">
                            <span class="badge">Received Feedback</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}