{% extends 'background-page.html' %}

{% load static %}

{% load bootstrap4 %}

{% block imagequery %}
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock imagequery %}

{% block content %}

<div class="panel-body">
    <div class="panel-heading"><h2 class="info-title">QR Codes & Patents</h2></div>
</div>

<div class="container gallery">
    <div class="panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5 text-left">
                <h4 class="info-title">Scanning QR Code With Mobile</h4>
                <p>
                    The project brief was to allow a user to scan a QR code etched into perspex to be scanned by a phone
                    and dynamically route the user to information about that invention.
                </p>
                <p>
                    An example of one scan shows the user being redirected to the actual patent and it's description.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                    <a class="fancybox" rel="group" href="{% static 'images/vodafone_phone_800px.png' %}">
                        <img src="{% static 'images/vodafone_phone_400px.png' %}" class="img-responsive">
                        <span class="badge">Scanned QR Code Using Mobile</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5 text-left">
                <h4 class="info-title">QR Codes Created And Etched Into The Patent Wall</h4>
                <p>
                    The system had to read created ID's by an administrator and create the QR Code image dynamically
                    on the system. The perspex manufacturer then downloaded those QR Codes and etched onto the tiles.
                </p>
                <p>
                    The Perspex company could always obtain the image by downloading from the Django portal. The portal
                    allowed different resolutions and simple tools to manage downloads. Using any other technology would
                    have been an expensive task for what is considered a minor project.
                </p>
                <p>
                    Here the wall can be seen fully assembled with the codes etched onto the titles.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5 text-left">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                    <a class="fancybox" rel="group" href="{% static 'images/vodafone_wall1_800px.png' %}">
                        <img src="{% static 'images/vodafone_wall1_400px.png' %}" class="img-responsive">
                        <span class="badge">Vodafone Patent Wall With QR Codes</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5 text-left">
                <h4 class="info-title">A Tile Being Scanned With The Camera On A Typical Mobile</h4>
                <p>
                    Using a Django web framework allowed Noisy Atom to quickly prototype solutions for our client Vodafone.
                    We had to quickly trial the system using different QR Code resolutions to ensure this could work with
                    the sizes of perspex and on a number of handsets.
                </p>
                <p>
                    It allowed us to control not only routing but to re-route dynamically if Vodafone wanted to supply a
                    richer piece of content for a particular invention. In other words, to route that ID to a piece of
                    CMS content on the portal. This could allow an inventor to maintain their own content that could be
                    viewed on the wall.
                </p>
                <p>
                    This image shows a mobile user selecting a tile to scan.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                    <a class="fancybox" rel="group" href="{% static 'images/vodafone_phone2_800px.png' %}">
                        <img src="{% static 'images/vodafone_phone2_400px.png' %}" class="img-responsive">
                        <span class="badge">A Mobile Scanning A Tile QR Code</span>
                    </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-5 text-left">
                <h4 class="info-title">The Patent Wall Showing Innovation By Noisy Atom</h4>
                <p>
                    Key to the project was working with suppliers. And being able to react quickly to changing needs due
                    to limitations in other secondary systems. To quickly test and feedback changes to the system design
                    were imperative due to the number of unknowns.

                </p>
                <p>
                    The Patent Wall is an example of innovation and creativity. Noisy Atom not only delivered a solution
                    but worked with external companies and crafted a system that worked - tailored to the needs of
                    Vodafone.
                </p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                    <a class="fancybox" rel="group" href="{% static 'images/vodafone_wall2_800px.png' %}">
                        <img src="{% static 'images/vodafone_wall2_400px.png' %}" class="img-responsive">
                        <span class="badge">Vodafone Patent Wall - Innovation by Noisy Atom</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}
