{% extends 'background-page.html' %}
{% load staticfiles %}
{% block content %}
    
<div class=""section text-center">
    <h2 class="title">Here is the team</h2>
    <div class="team">
        <div class="row">
                <div class="card card-profile card-plain">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="card-image">
                            <a href="#Nick">
                                <img class="img" src="{% static 'assets/img/faces/nicholas.jpg' %}" class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="content text-justify">
                            <h4 class="card-title">Nicholas Herriot</h4>
                            <h6 class="category text-muted">Founder</h6>

                            <p class="card-description">
                                I am passionate about technology, even as a child I was a Lego addict! At the moment I'm using mainly Python for current projects.
                            </p>
                            <div class="footer">
                                <a href="https://www.linkedin.com/in/nicholasherriot" class="btn btn-just-icon btn-simple btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://twitter.com/nicholasherriot" class="btn btn-just-icon btn-simple btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"  target="_blank"><i class="fa fa-facebook-square"></i></a>
                                <a href="https://plus.google.com/u/0/+NicholasHerriot" class="btn btn-just-icon btn-simple btn-google" target="_blank"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="card card-profile card-plain">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="card-image">
                            <a href="#Nick">
                                <img class="img" src="{% static 'assets/img/faces/dilshad.jpg' %}" class="img-thumbnail">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="content text-justify">
                            <h4 class="card-title">Dilshad Abdulla</h4>
                            <h6 class="category text-muted">Web Developer</h6>

                            <p class="card-description">
                                I am passionate about technology, even as a child I was a Lego addict! At the moment I'm using mainly Python for current projects.
                            </p>
                            <div class="footer">
                                <a href="https://www.linkedin.com/in/dilshadabdulla" class="btn btn-just-icon btn-simple btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://twitter.com/DilshadAbdulla" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter" target="_blank"></i></a>
                                <a href="http://stackoverflow.com/users/2700672/dilmac" class="btn btn-just-icon btn-simple btn-dribbble"  target="_blank"><i class="fa fa-stack-overflow"></i></a>
                                <a href="https://plus.google.com/u/0/106142053875403929305" class="btn btn-just-icon btn-simple btn-google" target="_blank"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>

{% endblock content %}