{% load staticfiles %}

{% include 'header.html' %}
{% include 'navbar.html' %}

    <div class="page-header header-filter" data-parallax="active" 
    style="background-image: url('{% static "assets/img/bg8.jpg" %}');">
        <div class="container">
            <div class="row">
				<div class="col-md-6">
					<h1 class="title">{{title}}</h1>
                    <h4>{{ paragraph1 }}</h4>
                    <h4>{{ paragraph2 }}</h4>
                    <h4>{{ paragraph3 }}</h4>
{#					<h1 class="title">Coming Soon.</h1>#}
{#                    <h4>We are working on it! Come back real soon to see our great work!</h4>#}
                    <br />
				</div>
            </div>
        </div>
    </div>
    <div class="container">

		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    	<li{% if message.tags %}class="alert-success {{ message.tags }}" {% endif %} >	
			    		{{ message }}
			    	</li>
			    {% endfor %}
			</ul>
		{% endif %}
		
	</div>

    <!-- Index page landing here -->
    <div class="main main-raised">
		<div class="container">
	    	<div class="section text-center">
                    	{% block content %}
						{% endblock content %}
            </div>
        </div>
    </div>

{% include 'footer.html' %}
