{% load staticfiles %}

{% include 'header.html' %}

    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/">
                    <img src="{% static 'assets/img/na_icon.png' %}" alt="Noisy Atom Logo"/>
                </a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
{#    				<li>#}
{#						<a href="/components">#}
{#							<i class="material-icons">apps</i> Components#}
{#						</a>#}
{#					</li>#}

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_day</i> Sections
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
{#							<li>#}
{#								<a href="../sections.html#headers">#}
{#									<i class="material-icons">dns</i> Headers#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="../sections.html#features">#}
{#									<i class="material-icons">build</i> Features#}
{#								</a>#}
{#							</li>#}
							<li>
								<a href="/coming-soon">
									<i class="material-icons">account_balance</i> About Us
								</a>
							</li>
							<li>
								<a href="{% url 'blogs:list' %}">
									<i class="material-icons">list</i> Blogs
								</a>
							</li>
							<li>
								<a href="/teams">
									<i class="material-icons">people</i> Teams
								</a>
							</li>
{#							<li>#}
{#								<a href="../sections.html#pricing">#}
{#									<i class="material-icons">monetization_on</i> Pricing#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="../sections.html#testimonials">#}
{#									<i class="material-icons">chat</i> Testimonials#}
{#								</a>#}
{#							</li>#}
							<li>
								<a href="/contactus">
									<i class="material-icons">call</i> Contacts
								</a>
							</li>

						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_carousel</i> Examples
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<!-- <li>
								<a href="/about-us">
									<i class="material-icons">account_balance</i> About Us
								</a>
							</li>
							<li>
								<a href="/blog">
									<i class="material-icons">art_track</i> Blog Post
								</a>
							</li>
							<li>
								<a href="../contactus">
									<i class="material-icons">location_on</i> Contact Us
								</a>
							</li> -->
{#							<li>#}
{#								<a href="/sign-in.html">#}
{#									<i class="material-icons">fingerprint</i> Login Page#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="/pricing.html">#}
{#									<i class="material-icons">attach_money</i> Pricing Page#}
{#								</a>#}
{#							</li>#}
							<li>
								<a href="/coming-soon">
									<i class="material-icons">beach_access</i> Office of National Statistics
								</a>
							</li>
   							<li>
								<a href="/coming-soon">
									<i class="material-icons">beach_access</i> AlfaAesar
								</a>
							</li>
   							<li>
								<a href="/coming-soon">
									<i class="material-icons">beach_access</i> Vodafone
								</a>
							</li>

{#							<li>#}
{#								<a href="/profile.html">#}
{#									<i class="material-icons">account_circle</i> Profile Page#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="/signup.html">#}
{#									<i class="material-icons">person_add</i> Signup Page#}
{#								</a>#}
{#							</li>#}
						</ul>
					</li>

{#					<li>#}
{#						<a href="http://www.noisyatom.com/buy/qrcode?ref=presentation" target="_blank" class="btn btn-white btn-simple">#}
{#							<i class="material-icons">shopping_cart</i> Buy Now#}
{#						</a>#}
{#					</li>#}
        		</ul>
        	</div>
    	</div>
    </nav>


    <div class="page-header header-filter" data-parallax="active" 
    style="background-image: url('{% static "assets/img/bg8.jpg" %}');">
        <div class="container">
            <div class="row">
				<div class="col-md-6">
					<h1 class="title">Our Story Starts With Technology.</h1>
                    <h4>A tech company. We specialise in python web platforms and frameworks. We have a range of experiences working with tier one companies and small startups. Read below for some of our success and open source projects. </h4>
                    <br />
{#                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">#}
{#						<i class="fa fa-play"></i> Watch video#}
{#					</a>#}
				</div>
            </div>
        </div>
    </div>

    <!-- Index page landing here -->
    <div class="main main-raised">
		<div class="container">
	    	<div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    	{% block content %}
						{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="main main-raised">
		<div class="container">
	    	<div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Our Stories</h2>
                        <h5 class="description">Noisy Atom have been active in a range of projects since inception in 2014. Started from 3 like minded R&D engineers from the Vodafone Global R&D Centre in Newbury. Our skills are broad and range from IoT, Network Telecomms and web development. We even support OS projects used by UK Government. Have a read at some of our recent stories below.</h5>
                    </div>
                </div>

				<div class="features">
					<div class="row">
						<div class="col-md-4">
							<div class="info">
                                <img class="logo__img" src="{% static 'assets/img/logo_ons.svg' %}" alt="Office for National Statistics"/>
{#								<i class="material-icons">chat</i>#}
								<h4 class="info-title">Office Of National Statistics</h4>
								<p>Noisy Atom took the lead role in implementing and customization on a python OS OAuth2 server. We now maintain this OS project and actively developing it. You can find <a href="https://github.com/NoisyAtom/oauth2-python-server"> more info on this project here</a></p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
                                <img class="logo_img alfa-body" src="{% static 'assets/img/logo_alfa.gif' %}" style="width:225px;" alt="Alfa Aesar"/>
{#                                <i class="material-icons">verified_user</i>#}
								<h4 class="info-title">Thermofisher Scientific</h4>
								<p>AlfaAesar, a sub brand of Thermofisher used Noisy Atom expertise to help port a legacy Websmart system onto a Django ecommerce platform. The system used an asynchronous message bus, elastic search and interfaced to a legacy IBM DB2 database.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
                                <img src="{% static 'assets/img/logo_vf.png' %}"  alt="Vodafone"/>
{#									<i class="material-icons">fingerprint</i>#}
								<h4 class="info-title">Vodafone</h4>
								<p>Vodafone required a dynamic mapping system for their patent wall at the Vodafone R&D offices in Newbury. A django web portal dynamically mapped a QR code scanned from the patent wall with a phone to details about the patent and inventor.</p>
							</div>
						</div>
	                </div>
				</div>
            </div>

        	<div class="section text-center">
                <h2 class="title">Here is our team</h2>

				<div class="team">
					<div class="row">
						<div class="col-md-6">
							<div class="card card-profile card-plain">
								<div class="col-md-5">
									<div class="card-image">
										<a href="#pablo">
											<img class="img" src="{% static 'assets/img/faces/nicholas.jpg' %}" />
										</a>
									</div>
								</div>
								<div class="col-md-7">
									<div class="content">
										<h4 class="card-title">Nicholas Herriot</h4>
										<h6 class="category text-muted">Founder</h6>

										<p class="card-description">
											I am passionate about technology, even as a child I was a Lego addict! At the moment I'm using mainly Python for current projects.
										</p>

										<div class="footer">
											<a href="https://www.linkedin.com/in/nicholasherriot" class="btn btn-just-icon btn-simple btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>

											<a href="https://twitter.com/nicholasherriot" class="btn btn-just-icon btn-simple btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>

											<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"  target="_blank"><i class="fa fa-facebook-square"></i></a>

											<a href="https://plus.google.com/u/0/+NicholasHerriot" class="btn btn-just-icon btn-simple btn-google" target="_blank"><i class="fa fa-google"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card card-profile card-plain">
								<div class="col-md-5">
									<div class="card-image">
										<a href="#pablo">
											<img class="img" src="{% static 'assets/img/faces/dilshad.jpg' %}" />
										</a>
									</div>
								</div>
								<div class="col-md-7">
									<div class="content">
										<h4 class="card-title">Dilshad Abdulla</h4>
										<h6 class="category text-muted">Python Developer</h6>

										<p class="card-description">
											Python developer looking for new ideas and would love to be involved in the development of something unique.  As technology is a hobby too, it is easy to be self motivated and willing to search for and learn new technologies. 
										</p>

										<div class="footer">
											<a href="https://www.linkedin.com/in/dilshadabdulla" class="btn btn-just-icon btn-simple btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>

											<a href="https://twitter.com/DilshadAbdulla" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter" target="_blank"></i></a>

											<a href="http://stackoverflow.com/users/2700672/dilmac" class="btn btn-just-icon btn-simple btn-dribbble"  target="_blank"><i class="fa fa-stack-overflow"></i></a>

											<a href="https://plus.google.com/u/0/106142053875403929305" class="btn btn-just-icon btn-simple btn-google" target="_blank"><i class="fa fa-google"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
						</div>

						<div class="col-md-6">
						</div>

					</div>
				</div>

            </div>


        	<div class="section section-contacts">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center title">Work with us</h2>
						<h4 class="text-center description">Write a few lines about your requirements or how you may like to collaborate. We will responded and get back to you in a day .</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Your Name</label>
										<input type="email" class="form-control">
									</div>
                                </div>
                                <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Your Email</label>
										<input type="email" class="form-control">
									</div>
                                </div>
                            </div>

							<div class="form-group label-floating">
								<label class="control-label">Your Messge</label>
								<textarea class="form-control" rows="4"></textarea>
							</div>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <button class="btn btn-primary btn-raised">
										Send Message
									</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

	</div>

   
   {% include 'footer.html' %}