{% load staticfiles %}

<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
	<div class="container">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
        		<span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/na_icon.png' %}" alt="Noisy Atom Logo"/>
            </a>
    	</div>

    	<div class="collapse navbar-collapse" id="navigation-example">
    		<ul class="nav navbar-nav navbar-right">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">view_day</i> Sections
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="/about-us">
								<i class="material-icons">account_balance</i> About Us
							</a>
						</li>
						<li>
							<a href="/blogs">
								<i class="material-icons">list</i> Blogs
							</a>
						</li>
{#						<li>#}
{#							<a href="/teams">#}
{#								<i class="material-icons">people</i> Teams#}
{#							</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="/contactus">#}
{#								<i class="material-icons">call</i> Contacts#}
{#							</a>#}
{#						</li>#}

					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">view_carousel</i> Examples
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="/ons">
								<i class="material-icons">beach_access</i> Office of National Statistics
							</a>
						</li>
							<li>
							<a href="{% url 'cms:alfa' %}">
								<i class="material-icons">beach_access</i> AlfaAesar
							</a>
						</li>
							<li>
							<a href="{% url 'cms:vodafone' %}">
								<i class="material-icons">beach_access</i> Vodafone
							</a>
						</li>
					</ul>
				</li>

    		</ul>
    	</div>
	</div>
</nav>