{% extends 'landing-page.html' %}

{% load bootstrap4 %}

{% block content %}

<div class="row ">
	
	<div class="col-12 col-md-7 text-justify">
	
		<p class="lead">{{comment.content}}</p>
		
		<footer>
			Via: {{comment.user}}, date: {{comment.timestamp|timesince}} ago
			{% if comment.children.count > 0 %}
				{{comment.children.count}} Comment
				{% if comment.children.count > 1 %}s{% endif %}
			| {% endif %}
		
		</footer>
		<hr>
		<div>			
			{% for child_comment in comment.children %}
			<blockquote>
				<p>{{child_comment.content}}</p>
				<footer>
					Via: {{child_comment.user}} | {{child_comment.timestamp|timesince}} ago
				</footer>
				
			</blockquote>
			{% endfor %}

			<form action="." method="POST">{% csrf_token %}
					
				{{ comment_form.as_p }}

				<input type="hidden" name="parent_id" value='{{comment.id'>
				<input type="submit" value="Reply" class="btn btn-success">
				
			</form>
		</div> <!-- End of comment reply -->
	
	</div>

</div>	
{% endblock content %}